@import 'globals';

.blog-header {
  $headerPaddingBottom: 10px;

  position: fixed;
  top: 0;
  height: $desktopHeaderHeight;
  width: calc(100% - (2 * #{$desktopHorizontalMargin}));
  padding-bottom: $headerPaddingBottom;
  line-height: $desktopHeaderHeight;
  transition: all $animationDuration $animationType;
  z-index: 100;

  &__brandname {
    display: inline-block;
    font-family: $headingFont;
    font-size: $h1;
  }

  &__meta {
    position: absolute;
    display: inline-block;
    top: calc(#{$desktopHeaderHeight} - 10px);
    left: 0;
    font-size: 0.9em;
    line-height: $h5;
  }

  @media only screen and (max-width: $mobileBreakpoint) {
    height: $mobileHeaderHeight;
    width: calc(100% - (2 * #{$mobileHorizontalMargin}));
    //unexplained
    padding-bottom: 20px;
    line-height: $mobileHeaderHeight;

    &__meta {
      top: calc(#{$mobileHeaderHeight});
    }
  }  
}

