@import 'globals';

.blog-post {
  padding: 40px 0;
  text-indent: 0;

  &__date {
    color: $grey;
    font-size: $h5;
  }

  &__title {
    margin-top: 5px;
    font-family: $headingFont;
    margin-bottom: 5px;
  }

  &__tags {
    margin-bottom: 15px;
  }
  
  &__content {
    margin-bottom: 40px;

    p {
      text-indent: 2em;
      line-height: 1.5em;
    }
  }

  &__buttons {
    i {
      margin-right: 10px;
    }
  }
}