@import 'globals';

.react-tagsinput {
  display: inline-block;
  overflow: hidden;

  &-tag {
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  &-tag:focus {
    outline: 0 !important;
  }

  &-remove {
    cursor: pointer;
    font-weight: bold;
  }

  &-tag &-remove::before {
    content: " ×";
  }

  & > span > a {
    cursor: pointer;
  }

  &-input {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
  }
}