@import 'globals';

.blog-fa-facebook {
  color: $color-facebook;
}

.blog-fa-youtube {
  color: $color-youtube;
}

.blog-fa-envelope-o {
  color: $color-gmail;
}

.blog-fa-github {
  color: $color-github;
}

.blog-fa-file-pdf-o {
  color: $color-pdf;
}