@import 'globals';

.blog-extended-table {
  position: relative;

  &__table {
    width: 100%;
    table-layout: fixed;
    text-align: left;

    thead {
      font-family: $headingFont;
      text-transform: uppercase; 
    }

    td:last-child {
      text-align: right;
    }

    th, td {
      padding: 20px 10px;
    }
  }

  &__search {
    display: inline-block;
    font-size: $h3;
  }

  &__add {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: $h3;
  }

  &--light-theme {
    .blog-extended-table__table {
      thead {
        color: $orange;
      }

      tr:hover {
        background-color: $grey;
      }

      i:hover {
        color: $orange;
      }
    }

    .blog-extended-table__add {
      color: $grey;
    }
  }
}