@import '../globals';

.blog-icon-button {
  border: none;
  background: transparent;
  color: $white;
}

.blog-text-icon-button {
  background: $black;
  color: $white;
  border: 1px solid $white;

  &__separator {
    border-left: 1px solid $white;
  }

  &:hover {
    background: $orange;
    border-color: $orange;
  }
}

.blog-label {
  color: $black;
}

.blog-text-input {
  input {
    border-bottom: 1px solid $black;
    background: $grey;
    color: $black;

    &::-webkit-input-placeholder {
      color: $black;
    }

    &:-moz-placeholder {
      color: $black;
      opacity:  1;
    }

    &::-moz-placeholder {
      color: $black;
      opacity:  1;
    }

    &:-ms-input-placeholder {
      color: $black;
    }
  }

  &--active input {
    border-bottom-color: $white;
    color: $white;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &:-moz-placeholder {
      color: $white;
      opacity:  1;
    }

    &::-moz-placeholder {
      color: $white;
      opacity:  1;
    }

    &:-ms-input-placeholder {
      color: $white;
    }
  }
}

.blog-markdown-input {
  textarea {
    background: $grey;
    border: 1px solid $black;
    color: $black;
  }

  &--active textarea {
    border: 1px solid $white;
    color: $white;
  }

  &__preview {
    color: $black;
  }
}

.blog-post-form .blog-tags-input .react-tagsinput {
  border: 1px solid $black;

  &--focused {
    border-color: $black;
    
    input {
      color: $black;
    }
    
    input::-webkit-input-placeholder {
      color: $black;
    }

    input:-moz-placeholder {
      color: $black;
      opacity:  1;
    }

    input::-moz-placeholder {
      color: $black;
      opacity:  1;
    }

    input:-ms-input-placeholder {
      color: $black;
    }
  }
}

.blog-search-bar {
  color: $black;
}

.blog-header {
  color: $black;
  background: $grey;

  .blog-header__brandname {
    color: $orange;
  }

  .blog-header__meta {
    color: $black;
  }
}

.blog-post {
  &__date {
    color: $black;
  }

  &__content {
    color: $black;
  }
}

.react-tagsinput {
  background-color: $grey;

  &-tag {
    background-color: $orange;
    border: none;
    color: $white;
  }

  &-input {
    background: transparent;
    border: 0;
    color: $black;
  }

  &-input:focused {
    color: $white;
  }
}

.blog-extended-table {
  &__table {
    thead tr{
      color: $orange;
    }

    tbody {
      tr {
        color: $black;
      }

      tr:hover {
        background-color: $white;
        color: $black;

        i {
          color: black;
        }

        i:hover {
          color: $orange;
        }
      }

      i {
        color: $black;
      }
    }
  }

  &__add {
    color: $black;
  }
}

.blog-page__header h2 {
  color: $black;
}

body {
  background: $grey;
}